<div class="container">
  <div class="field is-grouped">
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Select Category</label>
      </div>
      <div class="field-body">
        <div class="field">
          <%= form_tag(filter_by_category_products_path, method: :get, class: 'navbar-item', id: 'category-form') do %>
            <div class="select is-dark control">
              <%= select_tag(:type_id, options_for_select(Type.all.map { |t| [t.name, t.id] }, params[:type_id]), include_blank: 'All Categories', id: 'category-select') %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Filter By</label>
        </div>
        <div class="field-body">
          <div class="field">
          <%= form_tag(filter_products_path, method: :get, class: 'navbar-item', id: 'filter-form') do %>
            <div class="select is-dark control">
              <%= select_tag(:filter, options_for_select({ 'New' => 'new', 'On_sale' => 'on_sale' }, params[:filter]), include_blank: 'All', id: 'filter-select') %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const categoryForm = document.getElementById('category-form');
    categoryForm.addEventListener('change', function(event) {
      event.preventDefault();
      if (event.target.id === 'category-select') {
        categoryForm.submit();
      }
    });

    const filterForm = document.getElementById('filter-form');
    filterForm.addEventListener('change', function(event) {
      event.preventDefault();
      if (event.target.id === 'filter-select') {
        filterForm.submit();
      }
    });
  });
</script>
