<div>
  <h1><%= product.name %></h1>
  <% if product.image.attached? %>
    <p>Image:</p>
    <%= image_tag product.image %>
  <% end %>
  <p>Price: <%= product.price %></p>
  <p>On Sale: <%= product.on_sale_status ? 'Yes' : 'No' %></p>
</div>
