<div class="container">
  <%= render partial: 'filter' %>
  <%= paginate @products %>

  <% if params[:type_id].present? %>
    <h3 class="title is-5">Current Filter: Category - <%= Type.find(params[:type_id]).name %></h3>
    <p>here</p>
  <% elsif params[:new].present? %>
    <h3 class="title is-5">Current Filter: New Products</h3>
  <% elsif params[:on_sale].present? %>
    <h3 class="title is-5">Current Filter: On Sale Products</h3>
       <p>here</p>
  <% else %>
    <h3 class="title is-5">All Products</h3>
  <% end %>

  <div class="columns is-multiline">
    <% @products.each do |product| %>
      <%= render product %>
    <% end %>
  </div>
</div>
