<h1>Search Results</h1>

<% if @products.any? %>
  <% @products.each do |product| %>
    <h3><%= product.name %></h3>
    <!-- Display other product details as desired -->
  <% end %>
<% else %>
  <p>No products found.</p>
<% end %>
